* {
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(
      to right,
      #B76FFF 0%,
      #B76FFF 50%,
      #FFFFFF 50%,
      #FFFFFF 100%
    );
  }

nav {
    display: flex;
    align-items: center;
    margin: -5px 39px 0px 14px; 

} 

.menu {
    display: flex;
    width: 45%;
    justify-content: space-between;
    margin-right: 0px;
    margin-left: auto;
}

li {
    list-style: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #2F3E38;

}

h1 {
    color:#FFFFFF;   
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.15em;
    margin-left: 201.99px;
}